{% extends "insane_app/base.html" %}

{% block body %}
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  <form method="post" action="{% url 'insane:login' %}">
    <div class="form-group">
      {% csrf_token %}
      <div>{{ form.username.label_tag }}</div>
      {{ form.username }}
      <div>{{ form.password.label_tag }}</div>
      {{ form.password }}
    </div>

    <input class="btn btn-primary m-2" type="submit" value="login">
  </form>

  <p><a class="btn" href="">Lost password?</a>(not implemented yet)</p>
{% endblock %}
